.navbar{
  box-shadow: 2px 2px 1px #b3b3b3;

}
.navbar-text{
  color: white !important;
}
.nav{
  margin-left: 90px;
}
.nav-group{
}
.container{
  margin-left: 10%;
}
.h1 .h2 .h3 .h4 .h5{
 color: #4b4f56 !important;
}
.adress-text{
  color: #333 !important;
  white-space: nowrap;

}
.adress-container{
  margin-top: 10px;
}
.fa{
    white-space: nowrap !important;
  display:inline;


}

.adress-image-container{
  margin-left: 50px;

}
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    border: 2px solid white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow:hidden;
    align-content: center;
}
.my-picture {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 150%;
}
.react-sanfona-item{
  margin-top: 2px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #dddfe2;
  border: 1px solid #dddfe2;
  border-radius: 2px 2px 0 0;
  padding: 5px;
  box-shadow: 2px 2px 1px #b3b3b3;
}
.react-sanfona-item-expanded	{
  position: relative;
  border: 1px solid #dddfe2;
  box-shadow: 2px 2px 1px #888888;
  margin:-4px;
  margin-top: 1px;
  margin-bottom: 2px;
  z-index: 100;


}

.react-sanfona-item-title	{
  color: #4b4f56;
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin: 10px;
}
.react-sanfona-item-body-wrapper	{
  background-color: white;
}
.jumbotron{
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.jumbotron-title{
  display: inline-block;
  margin-left: 15%;
}
.credent-accordion-item{
 padding: 10px;
 padding-top: 30px;
 margin: 0px;
}
.react-sanfona-item-body:hover{
  background-color: #e6e6e6;
  opacity: 0.9;

}
.credent-site-link-image{
  display:inline;
  white-space: nowrap;
  margin: 5px;
}
.credent-site-link-name{
  margin-left: 4px;
  display:inline;
  white-space: nowrap;
}
.crednt-text{
  margin-top: 20px;
  margin-top: 10px;
}

 table {
        width: 100%;
     box-shadow: 2px 2px 1px #b3b3b3;
     border: 1px solid #dddfe2;
       border-radius: 2px;

    }
thead tr {
        width: 100%;
        height: 50px;
        background-color: #f6f7f9;
}
tbody tr {
        height: 60px;
        background-color: white;
}

th, td {
        font-size: 14px;
        text-align: left;
        border-bottom: 1px solid #ddd;
}
th {
        font-weight: 500;
}
td {
  vertical-align: middle;
  padding-right: 10px;
  padding: 10px 0;


}
strong {
            vertical-align: top;
            margin-right: 10px;
            font-weight: 500;
}

p{
  margin: 10px;
}

.table-text{
  margin: 10px;
  white-space: nowrap;
    display:inline;



}
